@import url("https://fonts.googleapis.com/css?family=Cantora+One&display=swap");

.navbar-brand {
  font-family: "Cantora", Courier, monospace;
  background: "	#228B22";
  opacity: "0.9";
  color: "Seashell";
  fontsize: 55;
}

li,
a {
  display: inline;
  text-decoration: none;
  margin: 8px;
  font-family: "Cantora", Courier, monospace;
  color: seashell;
  font-size: 17px;
}
